
<div class="page-title">
  <h4>Список заявлений статуса 50</h4>

</div>


<div
  class="row"
  *ngIf = "statments$ | async as statments$; else loader"
>
  <div class="col s12">
    <div class="collection" *ngIf="statments$.length !== 0; else empty">
      <a
        *ngFor="let statment of statments$"
        [routerLink] = "['/statment', statment.ID]"
        class="collection-item"
      >
        Заявление № {{statment.NUM_ZAV}} дата заявления {{statment.DATE_ZAV | date:'dd.MM.yyyy'}}
      </a>
    </div>
    <ng-template #empty>
      <div class="center">
        У вас нет ни одной категории
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>



<!--<main class="content">-->


<!--  <div class="page-title">-->
<!--    <h4>-->
<!--      <a routerLink="/categories">Заявлений</a>-->
<!--      <i class="material-icons">keyboard_arrow_right</i>-->
<!--      {{isNew ? 'Добавить': 'Редактировать'}} категогрию-->
<!--    </h4>-->
<!--    <span>-->
<!--      <button-->
<!--        *ngIf="!isNew"-->
<!--        class="btn btn-small red" (click)="deleteCategry()">-->
<!--        <i class="material-icons">delete</i>-->
<!--      </button>-->
<!--    </span>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--      <div class="input-field">-->
<!--        <input-->
<!--          formControlName="name"-->
<!--          id="name"-->
<!--          type="text"-->
<!--          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"-->
<!--        >-->
<!--        <label for="name">Название</label>-->
<!--        <span-->
<!--          class="helper-text red-text"-->
<!--          *ngIf="form.get('name').invalid && form.get('name').touched"-->
<!--        >-->
<!--          <span *ngIf="form.get('name').errors['required']">-->
<!--            Имя категории не может быть пустым.-->
<!--          </span>-->
<!--        </span>-->
<!--      </div>-->

<!--      <div>-->
<!--        <input-->
<!--          type="file"-->
<!--          class="dn"-->
<!--          (change)="onFileUpload($event)"-->
<!--          #input-->
<!--        >-->
<!--        <button-->
<!--          (click)="triggerClick()"-->
<!--          [disabled]="form.disabled"-->
<!--          type="button"-->
<!--          class="waves-effect waves-light btn orange lighten-2 mb2"-->
<!--        >-->
<!--          <i class="material-icons left">backup</i>-->
<!--          Загрузить изображение-->
<!--        </button>-->
<!--      </div>-->

<!--      <div>-->
<!--        <button-->
<!--          type="submit"-->
<!--          [disabled]="form.invalid || form.disabled"-->
<!--          class="waves-effect waves-light btn"-->
<!--        >-->
<!--          Сохранить изменения-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->

<!--    <div class="col s12 l4 center">-->
<!--      <img-->
<!--        class="responsive-img h200"-->
<!--        [src]="imagePreview"-->
<!--        *ngIf="imagePreview"-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->



<!--  <app-statment-form-->
<!--    *ngIf="category?._id"-->
<!--    [categoryId]="category._id"-->
<!--  >-->
<!--  </app-statment-form>-->



<!--</main>-->
