<div *ngIf="maincontent == 1" class="container">


  <div class="row">
    <div class="col s12">
      <div class="tab col s6">
        <button class="modal-action btn waves-effect" autofocus (click)="setTabcontentFalse()">Основная информация
        </button>
        <button class="modal-action btn waves-effect" autofocus (click)="setTabcontentTrue()">Бланк-опросник</button>
      </div>
    </div>
  </div>
  <div *ngIf="tabcontent == 0" class="top__section tabcontent" id="main-info">
    <div class="top__section-first">
      <div>
        <h5>  {{statment.NUM_ZAV}}  Накопительное страхование жизни (Просмотр заявления) </h5>
      </div>


      <div *ngIf="statment.STATE == 52" class="col s12">
        <div class="tab col s12 btn-wrapper">
          <button class="modal-action btn waves-effect" autofocus > Режим Редактирования</button>
        </div>
      </div>



      <div class="flex-row">
        <div class="col s2">
          <label for="">№ Договора</label>
          <input disabled type="text" value="" name="" class="dsb-inp">
        </div>
        <div class="col s2">
          <label for="">Дата договора</label>
          <input disabled type="text" value="" name="" class="dsb-inp">
        </div>
        <div class="col s2">
          <label for="">№ БСО </label>
          <input disabled type="text" value="" name="" class="dsb-inp">
        </div>
      </div>
      <div class="flex-row">
        <div class="col s2">
          <label for="">№ Заявления </label>
          <input   [(ngModel)]="statment.NUM_ZAV"  disabled type="text" name="" id="">
        </div>
        <div class="col s2">
          <label for="">Дата заявления </label>
          <input  [(ngModel)]="statment.DATE_ZAV " disabled type="text" name="" id="">
        </div>
        <div class="col s2">
          <label for="">Инспектор </label>
          <input [(ngModel)]="statment.EMP_ID" disabled type="text" name="" id="">
        </div>
      </div>
      <div class="">
        <div class="col">
          <label for="">Страхователь </label>
          <input [(ngModel)]="strahovat" disabled type="text" value="">
          <br>









        </div>
      </div>
      <div class="">
        <div class="col">
          <label for="">Дата формирования полиса</label>
          <input disabled type="text" name="date" value="">
        </div>
      </div>
      <div class="">
        <div class="col">
          <label for="">Отделение</label>
          <input [(ngModel)]="statment.BRANCH_ID" disabled type="text" name="filial" value="">
        </div>
      </div>
      <div class="flex-row">
        <div class="col s6">
          <label for="">Период страховой защиты с </label>
          <input disabled type="text">
        </div>
        <div class="col ">
          <label for="">По </label>
          <input disabled type="text">
        </div>
      </div>
      <div class="flex-row">
        <div class="col">
          <label for="">Агент</label>
          <input [(ngModel)]="statment.AGENT" disabled type="text">
        </div>
        <div class="col">
          <label for="">Размер АВ</label>
          <input disabled type="text">
        </div>
        <div class="col">
          <label for="">Договор поручения </label>
          <input disabled type="text">
        </div>
      </div>
      <div class="flex-row">
        <div class="col">
          <label for="">Уровень принятия решения</label>
          <input disabled type="text">
        </div>
      </div>
      <div class="flex-row">
        <div class="col">
          <label for="">Статус </label>
          <input [(ngModel)]="statment.STATE" disabled type="text" name="state">
        </div>
      </div>


      <!-- Выгодоприобретатели -->
      <div class="row">
        <h5>Выгодоприобретатели</h5>
        <div class="col">
          <span>На случай дожития </span>
          <table class="striped">
            <thead>
            <tr class="">
              <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>
              <th class="grey-text text-darken-2 center-align"> Процент %</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let life of obtainLifes">
              <td class="p-2 border text-sm text-gray-500 center-align">{{life.FIO}}</td>
              <td class="p-2 border text-sm text-gray-500 center-align">{{life.PROC}}</td>

            </tr>
            </tbody>
          </table>


          <br>
          <span>На случай смерти </span>
          <table class="striped">
            <thead>
            <tr class="">
              <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>
              <th class="grey-text text-darken-2 center-align"> Процент %</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let smert of obtainDeaths">
              <td class="p-2 border text-sm text-gray-500 center-align">{{smert.FIO}}</td>
              <td class="p-2 border text-sm text-gray-500 center-align">{{smert.PROC}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

      <!-- Застрахованный -->
      <div class="row ">
        <div class="col">
          <h5>Застрахованный</h5>
        </div>
        <div class="col">
          <label for="">ФИО(Дата рождения) (ИИН)</label>
          <input [(ngModel)]="zasttrahov" disabled type="text">
        </div>
        <div class="row">
          <div class="col">
            <label for="">Возраст</label>
            <input [(ngModel)]="showAge" disabled type="text">
          </div>
          <div class="col">
            <label for="">Вес</label>
            <input [(ngModel)]="weight" disabled type="text">
          </div>
          <div class="col">
            <label for="">Рост</label>
            <input [(ngModel)]="growth" disabled type="text">
          </div>
        </div>
        <div class="col">
          <label for="">Годовой доход</label>
          <input [(ngModel)]="statment.GOD_DOHOD" disabled type="text">
        </div>
      </div>
      <hr>
      <div class="row">
        <h5>Рассчетные данные </h5>
        <table class="table bordered">
          <thead>
          <tr>
            <th>Тип 1</th>
            <th>Наименование</th>
            <th>Тариф</th>
            <th>Нагрузка</th>
            <th>Страховой взнос</th>
            <th>Страховая сумма</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Нет данных
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="row">
        <h5>Таблица выкупных сумм и уменьшенных страховых сумм</h5>
        <table class="table bordered">
          <thead>
          <tr>
            <th>Год страхования</th>
            <th>Выкупная сумма</th>
            <th>Уменьшенная страховая сумма</th>
            <th>Сумма бонусных страховых сумм</th>
            <th>Выкупная по прибыли на конец годовщины</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th></th>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="statment.STATE == 52" class="col s12">
        <div class="tab col s12 btn-wrapper">
          <button class="modal-action btn waves-effect" autofocus (click)="updateStatus51()"> Утвердить</button>
        </div>
      </div>


      <div *ngIf="statment.STATE == 50" class="col s12">
        <div class="tab col s12 btn-wrapper">
          <button class="modal-action btn orange darken-1" autofocus (click)="updateStatus52()"> Возвращение на
            доработку
          </button>
          <button class="modal-action btn waves-effect" autofocus (click)="updateStatus51()"> Утвердить</button>
        </div>
      </div>

      <div *ngIf="statment.STATE == 51" class="col s12">
        <div class="tab col s6 btn-wrapper">
          <button class="modal-action btn red darken-1" autofocus (click)=" setTabcontentTrue()">Отказать</button>

          <button class="modal-action btn orange darken-1" autofocus (click)="updateStatus52()">Вернуть</button>
          <button class="modal-action btn waves-effect" autofocus (click)="setTabcontentRashet()">Произвести расчет
          </button>
        </div>
      </div>

    </div>

    <div class="top__section-second">
      <h5>Расчетные данные</h5>
      <div class="col s2">
        <label for="">Страховой взнос</label>
        <input [(ngModel)]="statment.STRAH_VZNOS" disabled type="text">
      </div>
      <span> <b> Страховой взнос по основному покрытию </b></span>
      <div class="col s2">
        <label for="">Накопительная часть</label>
        <input disabled type="text">
      </div>
      <div class="col s2">
        <label for="">Страховая часть</label>
        <input disabled type="text">
      </div>
      <div class="col s2">
        <label for="">Страховой взнос по дополнительным покрытиям </label>
        <input disabled type="text">
      </div>
      <div>
        <label for="">Периодичность</label>
        <input [(ngModel)]="statment.PERIODICH_T" disabled type="text">
      </div>
      <div>
        <label for="">Срок страхования</label>
        <input [(ngModel)]="statment.SROK_STRAH" disabled type="text">
      </div>
      <div>
        <label for="">Страховая сумма</label>
        <input [(ngModel)]="statment.STRAH_SUM" disabled type="text">
      </div>
      <div>
        <label for="">Основное покрытие</label>
        <input disabled type="text" placeholder="Смерть по любой причине">
      </div>
      <span> <b> Дополнительные покрытия </b></span>
      <div *ngFor="let pokr of Pokrs">
        <input disabled placeholder="{{pokr.NAME}}">
        <input disabled type="text" placeholder="{{pokr.STRAH_SUM}}">
      </div>


      <div class="col s2">
        <h5>Список застрахованных клиентов</h5>
        <hr>
        <br>
        <button class="btn p-2 center-align">ФИО агента</button>
      </div>
    </div>
  </div>


  <div *ngIf="tabcontent == 1">
    <h5 class="q-header">Ответы на бланк-опросник</h5>
    <div class="col s12 q-block" *ngFor="let answer of answers">
      <div class="q-block-title">
        <!--        <span class="q-id">{{answer.ID_QUESTION}}. </span>-->
        <span class="q-title">{{answer.TEXT_QUESTION}}</span>
      </div>
      <div class="q-block-answer">
        <span class="q-answer">{{answer.ID_ANSWER}}</span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="maincontent == 2" class="container2">
  <div class="tabs-wrapper">
    <div class="row">
      <div class="col s12">
        <div class="tab col s6">
          <button class="btn waves-effect waves-light tablinks active">Основная информация</button>
          <button class="btn waves-effect waves-light tablinks">Бланк-опросник</button>
        </div>
      </div>
    </div>
  </div>
  <div id="main-info" class="tabcontent">
    <div class="top-header-wrapper">
      <h5>Нагрузки</h5>
      <button (click)="setTabcontentMain()" class="btn waves-effect waves-light grey">Назад</button>
    </div>

    <table class="table responsive-table highlight centered">
      <thead>
      <tr>
        <th >№ п/п</th>
        <th >Виды андеррайтинга</th>
        <th >Наименование заболевания, профессии, вида спорта, страны</th>
        <th>Смерть по любой причине</th>
        <th>Смерть в рез-те НС</th>
        <th>Инвалидность 1,2 группы в рез-те НС</th>
        <th>Травма в рез-те НС</th>
        <th>Временная нетрудоспособность в рез-те НС</th>
        <th>Госпитализация в рез-те НС</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let nagr of nagruzki  let idx =index">
        <th>{{idx+1}}</th>
        <th>{{nagr.NAME_RISK}}</th>
        <th >{{nagr.NAME}}  </th>
        <th> <input type="text" placeholder="В %" on-change="sumArraySmertPoLuboi()" [(ngModel)]="smertPoLuboiPrichine[idx]">                     <input on-change="sumArraySmertPoLuboiPromil()" [(ngModel)]="smertPoLuboiPrichinePromil[idx]" type="text" placeholder="В промилле"></th>
        <th> <input type="text" placeholder="В %" on-change="sumArraysmertVrezultateNS()" [(ngModel)]="smertVrezultateNS[idx]" >                  <input on-change="sumArraysmertVrezultateNSPromil()" [(ngModel)]="smertVrezultateNSPromil[idx]" type="text" placeholder="В промилле"></th>
        <th> <input type="text" placeholder="В %" on-change="sumArrayInvalidnosGrup()" [(ngModel)]="invalidnosGrup[idx]">                         <input on-change="sumArrayInvalidnosGrupPromil()" [(ngModel)]="invalidnosGrupPromil[idx]" type="text" placeholder="В промилле"></th>
        <th> <input type="text" placeholder="В %" on-change="sumArrayTravmaRezultateNS()" [(ngModel)]="travmaRezultateNS[idx]">                   <input on-change="sumArrayTravmaRezultateNSPromil()" [(ngModel)]="travmaRezultateNSPromil[idx]" type="text" placeholder="В промилле"></th>
        <th> <input type="text" placeholder="В %" on-change="sumArrayVrmennayaNetrudoSposobnost()" [(ngModel)]="vrmennayaNetrudoSposobnost[idx]"> <input on-change="sumArrayVrmennayaNetrudoSposobnostPromil()" [(ngModel)]="vrmennayaNetrudoSposobnostPromil[idx]" type="text" placeholder="В промилле"></th>
        <th> <input type="text" placeholder="В %" on-change="sumArrayGospitalizaciaNS()" [(ngModel)]="gospitalizaciaNS[idx]">                     <input  on-change="sumArrayGospitalizaciaNSPromil()" [(ngModel)]="gospitalizaciaNSPromil[idx]" type="text" placeholder="В промилле"></th>
      </tr>
      <tr>
        <th></th>
        <th>Итого в %:</th>
        <th></th>
        <th>{{smertPoLuboiPrichineValue}}</th>
        <th>{{smertVrezultateNSValue}}</th>
        <th>{{invalidnosGrupValue}}</th>
        <th>{{travmaRezultateNSValue}}</th>
        <th>{{vrmennayaNetrudoSposobnostValue}}</th>
        <th>{{gospitalizaciaNSValue}}</th>
      </tr>

      <tr>
        <th></th>
        <th>Итого в промилле:</th>
        <th></th>
        <th>{{smertPoLuboiPrichineValuePromil}}</th>
        <th>{{smertVrezultateNSValuePromil}}</th>
        <th>{{invalidnosGrupValuePromil}}</th>
        <th>{{travmaRezultateNSValuePromil}}</th>
        <th>{{vrmennayaNetrudoSposobnostValuePromil}}</th>
        <th>{{gospitalizaciaNSValuePromil}}</th>
      </tr>
      </tbody>
    </table>

    <div class="btn-wrapper">
      <button class="btn waves-effect waves-light blue" (click)="rashetCalculator()">Рассчитать</button>
    </div>
  </div>
  <div id="questions-blank" class="tabcontent">
    <h5 class="q-header">Ответы на бланк-опросник</h5>
    <div class="col s12 q-block">
      <div class="q-block-title">
        <span class="q-id">1. </span>
        <span class="q-title">Имеется ли у Вас инвалидность 1, 2 или 3 группы, либо имелась ранее? (укажите какая именно)</span>
      </div>
      <div class="q-block-answer">
        <span class="q-answer"> Нет</span>
      </div>
    </div>
  </div>

</div>



<div *ngIf="maincontent == 3" class="container3">
  <div class="tabs-wrapper">
    <div class="row">
      <div class="col s12">
        <div class="tab col s6">
          <button class="btn waves-effect waves-light tablinks active" >Основная информация</button>
          <button class="btn waves-effect waves-light tablinks" >Бланк-опросник</button>
        </div>
      </div>
    </div>
  </div>
  <div id="main-info" class="tabcontent">
    <h5>Результат расчета</h5>
    <hr>




    <table class="table responsive-table highlight centered " id="table">
      <thead>
      <tr>
        <th>Тип </th>
        <th>Наименование </th>
        <th>Тариф </th>
        <th>Нагрузка </th>
        <th>Страховой взнос </th>
        <th>Страховая сумма </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let tarif of rashetCalc">
        <th>{{tarif.PMAIN ? 'Основное покрытие': 'Дополнительное'}}  </th>
        <th>{{tarif.NAME}}</th>
        <th>{{tarif.TARIF}}  </th>
        <th></th>
        <th></th>
        <th>{{tarif.PMAIN? tarif.MAIN : ''}}</th>
      </tr>



      </tbody>
    </table>
    <div class="btn-wrapper">
      <button class="btn waves-effect waves-light grey" (click)="setTabcontentRashet()">Назад</button>
      <button class="btn waves-effect waves-light ">Утвердить</button>
    </div>
  </div>
  <div id="questions-blank" class="tabcontent">
    <h5 class="q-header">Ответы на бланк-опросник</h5>
    <div class="col s12 q-block">
      <div class="q-block-title">
        <span class="q-id">1. </span>
        <span class="q-title">Имеется ли у Вас инвалидность 1, 2 или 3 группы, либо имелась ранее? (укажите какая именно)</span>
      </div>
      <div class="q-block-answer">
        <span class="q-answer"> Нет</span>
      </div>
    </div>
  </div>
</div>



<div *ngIf="maincontent == 4" class="container4">

  <div class="row">
    <div class="col s12">
      <div class="tab col s6">
        <button class="modal-action btn waves-effect" autofocus (click)="setTabcontentFalse()">Основная информация
        </button>
        <button class="modal-action btn waves-effect" autofocus (click)="setTabcontentTrue()">Бланк-опросник</button>
      </div>
    </div>
  </div>
  <div *ngIf="tabcontent == 0" class="top__section tabcontent" id="main-info">
    <div class="top__section-first">
      <div>
        <h5>  {{statment.NUM_ZAV}}  Накопительное страхование жизни (РЕДАКТИРОВАНИЯ заявления) </h5>
      </div>


      <div *ngIf="statment.STATE == 52" class="col s12">
        <div class="tab col s12 btn-wrapper">
          <button class="modal-action btn waves-effect" autofocus > Режим Редактирования</button>
        </div>
      </div>



      <div class="flex-row">
        <div class="col s2">
          <label for="">№ Договора</label>
          <input disabled type="text" value="" name="" class="dsb-inp">
        </div>
        <div class="col s2">
          <label for="">Дата договора</label>
          <input disabled type="text" value="" name="" class="dsb-inp">
        </div>
        <div class="col s2">
          <label for="">№ БСО </label>
          <input disabled type="text" value="" name="" class="dsb-inp">
        </div>
      </div>
      <div class="flex-row">
        <div class="col s2">
          <label for="">№ Заявления </label>
          <input [(ngModel)]="statment.NUM_ZAV"  type="text" name="" id="">
        </div>
        <div class="col s2">
          <label for="">Дата заявления </label>
          <input type="text" #start >


<!--          <input #start  type="text" name="" id="">-->
<!--          [(ngModel)]="statment.DATE_ZAV"-->
        </div>
        <div class="col s2">
          <label for="">Инспектор </label>
          <input [(ngModel)]="statment.EMP_ID"  type="text" name="" id="">
        </div>
      </div>
      <div class="">
        <div class="col">
          <label for="">Страхователь </label>
          <input [(ngModel)]="strahovat"  type="text" value="">
          <br>
        </div>
        <div *ngIf="statment.STATE == 52" class="find-straxovatel flex mt-3">
          <input type="text" class="border border-gray-300 w-full outline "
                 id="search_clients" [(ngModel)]="IIN"
          >
          <button
            class="btn waves-effect waves-light green darken-2"
            (click)="loadMore3()"
            autofocus> Найти
          </button>
        </div>
        <div  class="m-for-blocks"    >
          <a *ngFor="let i of nsjs2" (click)="addToOrder3(i)" class="collection-item waves-effect">{{i.NAME}}</a><br>
        </div>
      </div>
      <div class="">
        <div class="col">
          <label for="">Дата формирования полиса</label>
          <input disabled type="text" name="date" value="">
        </div>
      </div>
      <div class="">
        <div class="col">
          <label for="">Отделение</label>
          <input [(ngModel)]="regionNameString"  type="text" name="filial" value="">
        </div>
      </div>
      <div class="m-for-blocks">
        <span class="grey-text text-darken-2">Регион: </span>
        <button
          class="btn blue darken-3 waves-effect waves-light"
          autofocus
          (click)="open3()"
        > Выбрать регион
        </button>
        <label for="" class="grey-text text-darken-2" ></label>
      </div>
      <div class="flex-row">
        <div class="col s6">
          <label for="">Период страховой защиты с </label>
          <input disabled type="text">
        </div>
        <div class="col ">
          <label for="">По </label>
          <input disabled type="text">
        </div>
      </div>
      <div class="flex-row">
        <div class="col">
          <label for="">Агент</label>
          <input [(ngModel)]="statment.AGENT"  type="text">
        </div>
        <div class="col">
          <label for="">Размер АВ</label>
          <input disabled type="text">
        </div>
        <div class="col">
          <label for="">Договор поручения </label>
          <input disabled type="text">
        </div>
      </div>
      <div class="flex-row">
        <div class="col">
          <label for="">Уровень принятия решения</label>
          <input disabled type="text">
        </div>
      </div>
      <div class="flex-row">
        <div class="col">
          <label for="">Статус </label>
          <input [(ngModel)]="statment.STATE"  type="text" name="state">
        </div>
      </div>


      <!-- Редактирование выгодоприобретателей -->
      <div class="row">
        <h5>Редактирование выгодоприобретателей</h5>
        <div class="col">
          <div class="">
            <label class="grey-text text-darken-2"> Выгодоприобретатель на случай смерти: </label>
            <button class="waves-effect btn blue darken-3"
                    autofocus
                    (click)="openDeathModal()"
            > Добавить другого человека
            </button>
          </div>


          <!-- БЛОК С ТАБЛИЦЕЙ ВЫГОДОПРИОБРЕТАТЕЛЯ НА СЛУЧАЙ СМЕРТИ  -->

          <div class="" >
            <table class="striped">
              <thead>
              <tr class="">
                <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>
                <th class="grey-text text-darken-2 center-align"> Процент %</th>
                <th class="center-align"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let smert of obtainDeaths">
                <td class="p-2 border text-sm text-gray-500 center-align">{{smert.FIO}}</td>
                <td class="p-2 border text-sm text-gray-500 center-align">{{smert.PROC}}</td>
                <td class="p-2 border text-center center-align">
                  <button class="btn red darken-3 waves-effect"  (click)="removeObtainDeath(smert)">
                    Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br>

          <div class="">
            <label class="grey-text text-darken-2"> Выгодоприобретатель на случай дожития: </label>
            <button class="waves-effect btn blue darken-3"
                    autofocus
                    (click)="openLifeModal()"
            > Добавить другого человека
            </button>
          </div>


          <!-- БЛОК С ТАБЛИЦЕЙ ВЫГОДОПРИОБРЕТАТЕЛЯ НА СЛУЧАЙ СМЕРТИ  -->

          <div class="">
            <table class="striped">
              <thead>
              <tr class="">
                <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>
                <th class="grey-text text-darken-2 center-align"> Процент %</th>
                <th class="center-align"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let life of obtainLifes">
                <td class="p-2 border text-sm text-gray-500 center-align">{{life.FIO}}</td>
                <td class="p-2 border text-sm text-gray-500 center-align">{{life.PROC}}</td>
                <td class="p-2 border text-center center-align">
                  <button class="btn red darken-3 waves-effect"
                          (click)="removeObtainLife(life)"
                  >
                    Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>


<!--          <span>На случай смерти </span>-->
<!--          <table class="striped">-->
<!--            <thead>-->
<!--            <tr class="">-->
<!--              <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>-->
<!--              <th class="grey-text text-darken-2 center-align"> Процент %</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let smert of obtainDeaths">-->
<!--              <td class="p-2 border text-sm text-gray-500 center-align">{{smert.FIO}}</td>-->
<!--              <td class="p-2 border text-sm text-gray-500 center-align">{{smert.PROC}}</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->

        </div>
      </div>

      <!-- Застрахованный -->
      <div class="row ">
        <div class="col">
          <h5>Редактирование застрахованного</h5>
        </div>
        <div class="col">
          <label for="">ФИО(Дата рождения) (ИИН)</label>
          <input [(ngModel)]="zasttrahov"  type="text">
        </div>
        <div class="row">
          <div class="col">
            <label for="">Возраст</label>
            <input [(ngModel)]="showAge" disabled type="text">
          </div>
          <div class="col">
            <label for="">Вес</label>
            <input [(ngModel)]="weight"  type="text">
          </div>
          <div class="col">
            <label for="">Рост</label>
            <input [(ngModel)]="growth"  type="text">
          </div>
        </div>
        <div class="col">
          <label for="">Годовой доход</label>
          <input [(ngModel)]="statment.GOD_DOHOD"  type="text">
        </div>
      </div>
      <hr>
      <div class="row">
        <h5>Рассчетные данные </h5>
        <table class="table bordered">
          <thead>
          <tr>
            <th>Тип</th>
            <th>Наименование</th>
            <th>Тариф</th>
            <th>Нагрузка</th>
            <th>Страховой взнос</th>
            <th>Страховая сумма</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Нет данных
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="row">
        <h5>Таблица выкупных сумм и уменьшенных страховых сумм</h5>
        <table class="table bordered">
          <thead>
          <tr>
            <th>Год страхования</th>
            <th>Выкупная сумма</th>
            <th>Уменьшенная страховая сумма</th>
            <th>Сумма бонусных страховых сумм</th>
            <th>Выкупная по прибыли на конец годовщины</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th></th>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="statment.STATE == 52" class="col s12">
        <div class="tab col s12 btn-wrapper">
          <button class="modal-action btn waves-effect" autofocus (click)="updateStatus51()"> Утвердить</button>
        </div>
      </div>


      <div *ngIf="statment.STATE == 50" class="col s12">
        <div class="tab col s12 btn-wrapper">
          <button class="modal-action btn orange darken-1" autofocus (click)="updateStatus52()"> Возвращение на
            доработку
          </button>
          <button class="modal-action btn waves-effect" autofocus (click)="updateStatus51()"> Утвердить</button>
        </div>
      </div>

      <div *ngIf="statment.STATE == 51" class="col s12">
        <div class="tab col s6 btn-wrapper">
          <button class="modal-action btn red darken-1" autofocus (click)=" setTabcontentTrue()">Отказать</button>

          <button class="modal-action btn orange darken-1" autofocus (click)="updateStatus52()">Вернуть</button>
          <button class="modal-action btn waves-effect" autofocus (click)="setTabcontentRashet()">Произвести расчет
          </button>
        </div>
      </div>

    </div>

    <div class="top__section-second">
      <h5>Расчетные данные</h5>
      <div class="col s2">
        <label for="">Страховой взнос</label>
        <input [(ngModel)]="statment.STRAH_VZNOS" disabled type="text">
      </div>
      <span> <b> Страховой взнос по основному покрытию </b></span>
      <div class="col s2">
        <label for="">Накопительная часть</label>
        <input disabled type="text">
      </div>
      <div class="col s2">
        <label for="">Страховая часть</label>
        <input disabled type="text">
      </div>
      <div class="col s2">
        <label for="">Страховой взнос по дополнительным покрытиям </label>
        <input disabled type="text">
      </div>
      <div>
        <label for="">Периодичность</label>
        <input [(ngModel)]="statment.PERIODICH_T" disabled type="text">
      </div>
      <div>
        <label for="">Срок страхования</label>
        <input [(ngModel)]="statment.SROK_STRAH" disabled type="text">
      </div>
      <div>
        <label for="">Страховая сумма</label>
        <input [(ngModel)]="statment.STRAH_SUM" disabled type="text">
      </div>
      <div>
        <label for="">Основное покрытие</label>
        <input disabled type="text" placeholder="Смерть по любой причине">
      </div>
      <span> <b> Дополнительные покрытия </b></span>
      <div *ngFor="let pokr of Pokrs">
        <input disabled placeholder="{{pokr.NAME}}">
        <input disabled type="text" placeholder="{{pokr.STRAH_SUM}}">
      </div>


      <div class="col s2">
        <h5>Список застрахованных клиентов</h5>
        <hr>
        <br>
        <button class="btn p-2 center-align">ФИО агента</button>
      </div>
    </div>
  </div>


  <div *ngIf="tabcontent == 1">
    <h5 class="q-header">Ответы на бланк-опросник</h5>
    <div class="col s12 q-block" *ngFor="let answer of answers">
      <div class="q-block-title">
        <!--        <span class="q-id">{{answer.ID_QUESTION}}. </span>-->
        <span class="q-title">{{answer.TEXT_QUESTION}}</span>
      </div>
      <div class="q-block-answer">
        <span class="q-answer">{{answer.ID_ANSWER}}</span>
      </div>
    </div>
  </div>
</div>









<!-- Модальное окно для добавления региона  -->
<div #modalReg class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Выберите регион из списка</h4>
    <div class="row">
      <div class="col s12">
        <div class="collection">
          <a *ngFor="let i of regions"
             class="collection-item" (click)="selectToRegion(i)">{{i.NAME}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"
    >Отмена
    </button>
    <button
      class="modal-action btn waves-effect"

    >Подтвердить
    </button>
  </div>
</div>


<!-- Модальное окно для добавления выгодоприробретателей смерти  -->
<div #modalDeath class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Добавить выгодоприобретателя на случай смерти</h4>
    <div class="find-straxovatel flex mt-3 ">
      <!--      <button class="border border-transparent p-2 bg-blue-500 rounded-l text-white"> Создать </button>-->
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="IIN"
      >
      <div>
        <a *ngFor="let i of vigodosSmert" (click)="addToObtainModalTempDeath(i)" class="collection-item">{{i.NAME}}</a>
      </div>
      <button
        class="modal-action btn waves-effect"

        autofocus
        (click)="loadMoreClientObtanDeath()"
      >
        Найти должен 2
      </button>
    </div>

    <div *ngIf="vigodopreodetatelSmert">
      <b class="text-sm text-gray-500 font-bold"> Выгодоприробретатель: {{vigodopreodetatelSmert.NAME}}</b>
      <input
        type="text"
        placeholder="Ведите процент"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="precentObtainDeath"
      >
      <button
        class="modal-action btn waves-effect"
       (click)="addObtainDeathToList()"
      >Подтвердить
      </button>
    </div>

  </div>

</div>


<!-- Модальное окно для добавления выгодоприробретателей дожития  -->
<div #modalLife class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Добавить выгодоприобретателя на случай смерти</h4>
    <div class="find-straxovatel flex mt-3 ">
      <!--      <button class="border border-transparent p-2 bg-blue-500 rounded-l text-white"> Создать </button>-->
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="IIN"
      >
      <div>
        <a *ngFor="let i of vigodosZhizn" (click)="addToObtainModalTempLife(i)" class="collection-item">{{i.NAME}}</a>
      </div>
      <button
        class="modal-action btn waves-effect"

        autofocus
        (click)="loadMoreClientObtanLife()"
      >
        Найти должен 2
      </button>
    </div>

    <div *ngIf="vigodopreodetatelZhizn">
      <b class="text-sm text-gray-500 font-bold"> Выгодоприробретатель: {{vigodopreodetatelZhizn.NAME}}</b>
      <input
        type="text"
        placeholder="Ведите процент"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="precentObtainLife"
      >
      <button
        class="modal-action btn waves-effect"
        (click)="addObtainLifeToList()"
      >Подтвердить
      </button>
    </div>

  </div>

</div>
