<!-- <div *ngIf="categories$ | async as categories;">
  <div class="frow order-row" *ngIf="categories.length !== 0; else empty">
    <div
      *ngFor="let i of categories;  let idx =index"

      class="card"
    >

      <div class="card-content center p10">
        <h5 >{{i | json}}</h5>
        <h3 >{{idx | json}}</h3>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">Категорий пока нет.</div>
  </ng-template> -->

<!--  <div class="row">-->
<!--    <div class="col s12">-->
<!--      <div class="collection">-->
<!--    <a *ngFor="let i of nsjs"-->
<!--    class="collection-item">ggg {{i.NAME}}-->
<!--    </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<app-nsjnew-first  *ngIf="isFirstVisible" [fromParent]="fromParent"  > </app-nsjnew-first>
  <app-nsjnew-second  *ngIf="!isFirstVisible"></app-nsjnew-second>

<button *ngIf="isFirstVisible"
  class="border border-transparent p-2 bg-green-500 rounded-r text-white"
  id="btn_search_zastrah"
  autofocus
  (click)="NextPage()"
>
  Далее
</button>

<button
  *ngIf="!isFirstVisible"
  class="border border-transparent p-2 bg-green-500 rounded-r text-white"
  id="btn_search_zastrah"
  autofocus
  (click)="PreviewPage()"
>
  Назад
</button>









