

<section class="container px-4 my-16 mx-auto min-h-screen bg-white ">

  <!-- БЛОК СТРАХОВАТЕЛЯ  -->
  <div class="straxovatel py-4 pb-8">
    <div class="search-result-straxovatel ">
      <label for="" class="grey-text text-darken-4">Страхователь </label>
      <h4 class="grey-text text-darken-2 "> Фамилия Имя Отчество (099090909009) (Физическое лицо) </h4>
    </div>
    <b class="text-sm grey-text text-darken-2 font-bold" *ngIf="strahovatel"> Страхователь: {{strahovatel.NAME}}</b>
    <p class="text-sm grey-text text-darken-2 font-bold mt-0.5 "> Начните вводить "Наименование", Фамилия Имя Отчество, БИН или ИИН клиента</p>
    <div class="find-straxovatel flex mt-3">
      <a class="btn waves-effect waves-light blue darken-3 text-white" href="./pages/registration.html" target="_blank">Создать</a>
      <input type="text" class="border border-gray-300 w-full outline "
             id="search_clients" [(ngModel)]="IIN"
      >
      <button
        class="btn waves-effect waves-light green darken-2"
        (click)="loadMore3()"

        autofocus> Найти </button>

    </div>
    <div class="m-for-blocks">
      <a *ngFor="let i of nsjs2" (click)="addToOrder3(i)"  class="collection-item">{{i.NAME}}</a>
    </div>
  </div>
  <!-- БЛОК ЗАСТРАХОВАННОГО -->

  <div class="zastraxovaniy py-4 pb-8">
    <div class="search-result-straxovatel" >
      <span for="" class="grey-text text-darken-4 font-bold"> Застрахованный </span>
      <h3 class="text-lg text-gray-500 font-bold">  </h3>
    </div>
    <b class="grey-text text-darken-2 font-bold" *ngIf="zastrahovan"> Застрахованный: {{zastrahovan.NAME}}</b>
    <p class="grey-text text-darken-2 font-bold"> Начните вводить "Наименование", Фамилия Имя Отчество, БИН или ИИН клиента</p>
    <div class="find-straxovatel flex mt-3 ">
      <button class="btn blue darken-3 white-text waves-effect waves-light"> Создать </button>
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        id="search_zastrah"
        [(ngModel)]="IIN"
      >
      <button
        class="waves-effect btn green darken-2"
        autofocus
        (click)="loadMore()"
      >
        Найти
      </button>
    </div>
    <div class="m-for-blocks">
      <a *ngFor="let i of nsjs" (click)="addToOrder(i)" class="collection-item">{{i.NAME}}</a><br>
    </div>
  </div>


  <!-- БЛОК ВЫГОДОПРИОБРЕТАТЕЛЬ НА СЛУЧАЙ СМЕРТИ  -->

  <div class="">
    <label class="grey-text text-darken-2"> Выгодоприобретатель на случай смерти:  </label>
    <button class="waves-effect btn blue darken-3"
            autofocus
            (click)="open()"
    > Выбрать </button>
  </div>


  <!-- БЛОК С ТАБЛИЦЕЙ ВЫГОДОПРИОБРЕТАТЕЛЯ НА СЛУЧАЙ СМЕРТИ  -->

  <div class="">
    <div>
      <h4 class="grey-text text-darken-2"> Выгодоприобретатели на случай смерти: </h4>
    </div>


    <!-- <div class="beneficiaries-on-death">
      <div class="row">
        <div class="col s8 grey-text text-darken-2 section">Фамилия Имя Отчество</div>
        <div class="col s2 grey-text text-darken-2 section">Процент %</div>
        <div class="col s2 grey-text text-darken-2 section">Delete</div>
      </div>
      <div class="row">
        <div class="col s8 grey-text text-darken-2 section">{{smert.NAME}}</div>
        <div class="col s2 grey-text text-darken-2 section">50%</div>
        <div class="col s2 grey-text text-darken-2 section">
            <button class="btn red darken-3 waves-effect">
                    Delete
            </button>
        </div>
      </div>
    </div> -->

    <table class="striped">
      <thead>
      <tr class="">
        <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>
        <th class="grey-text text-darken-2 center-align"> Процент % </th>
        <th class="center-align"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let smert of vigodopreodetatelSmerts">
        <td class="p-2 border text-sm text-gray-500 center-align" >{{smert.NAME}}</td>
        <td class="p-2 border text-sm text-gray-500 center-align">50% </td>
        <td class="p-2 border text-center center-align">
          <button class="btn red darken-3 waves-effect">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>




  <!-- БЛОК ВЫГОДОПРИОБРЕТАТЕЛЬ НА СЛУЧАЙ ДОЖИТИЯ  -->

  <div class="m-for-blocks">
    <label class="grey-text text-darken-2"> Выгодоприобретатель на случай дожития:  </label>
    <button
      class="btn blue darken-3 white-text waves-effect waves-light"

      autofocus
      (click)="open2()"
    > Выбрать
    </button>
  </div>


  <!-- БЛОК С ТАБЛИЦЕЙ ВЫГОДОПРИОБРЕТАТЕЛЯ НА СЛУЧАЙ ДОЖИТИЯ  -->

  <div class="m-for-blocks">
    <div>
      <h4 class="grey-text text-darken-2"> Выгодоприобретатели на случай дожития: </h4>
    </div>
    <table class="striped">
      <thead>
      <tr>
        <th class="grey-text text-darken-2 center-align"> Фамилия Имя Отчество</th>
        <th class="grey-text text-darken-2 center-align"> Процент % </th>
        <th class="grey-text text-darken-2 center-align"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let zhizn of vigodopreodetatelZhizns">
        <td class="p-2 border text-sm text-gray-500 center-align">{{zhizn.NAME}}</td>
        <td class="p-2 border text-sm text-gray-500 center-align">50% </td>
        <td class="p-2 border text-center center-align">
          <button class="p-2 w-2 h-2 bg-red-600"> </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>



  <!-- БЛОК С ИНПУТАМИ РЕГИОНОВ  -->

  <div class="region-wrapper m-for-blocks">

    <div class="m-for-blocks">
      <span class="grey-text text-darken-2">Регион: </span>

      <button
        class="btn blue darken-3 waves-effect waves-light"

        autofocus
        (click)="open3()"
      > Выбрать
      </button>
      <label for="" class="grey-text text-darken-2" *ngIf="region">{{region.NAME}}</label>
    </div>

    <div class="">
      <label for="" class="grey-text text-darken-2 ">№ заявления </label>
      <input type="text" *ngIf="numzav" value="{{numzav}}" >

    </div>

    <div class="">
      <label for="" class="grey-text text-darken-2">Дата заявления</label>
      <input type="text"  #start name="" id="" class="" placeholder="ЗДЕСЬ У НАС ДЕЙТПИКЕР">
    </div>



    <div class="">
      <label for="" class="grey-text text-darken-2">Размер страхового взноса </label>
      <input type="text" name="" id="" class="" [(ngModel)]="strahVznos">
    </div>

    <div class="">
      <label for="gdsl" class="grey-text text-darken-2 ">Годовой доход страхуемого лица </label>
      <input type="text" name="gdsl" id="gdsl" class="" [(ngModel)]="godDohod">
    </div>

  </div>

  <!-- БЛОК С ИНПУТАМИ НАГРУЗОК  -->


  <div class="m-for-blocks">
    <div class="">
      <h4 class="grey-text text-darken-2">Нагрузки </h4>
      <label for="nagruzka" class="grey-text text-darken-2">Выберите вид нагрузки </label>
      <select name="nagruzka" id="nagruzka" class="border p-1">
        <option value="0" class=""> Андерайтинг риска свободного времени</option>
        <option value="1" class=""> Профессиональный</option>
        <option value="2" class=""> Медицинский</option>
        <option value="3" class=""> Андерайтинг риска пребывания в странах</option>
      </select>
    </div>

    <div class="m-for-blocks">
      <label for="" class="grey-text text-darken-2">Введите наименование нагрузки </label>
      <input type="text" name="" id="" class="border p-1 w-full">
    </div>

    <button class="btn blue darken-3 waves-effect waves-light white-text" (click)="open4()"> Добавить </button>

  </div>


  <div class="underright-wrapper m-for-blocks">
    <h4 class="grey-text text-darken-2">Список андерайтинговых нагрузок </h4>
    <div class="m-for-blocks">
      <label for="agent" class="text-sm text-gray-500 font-bold ">Агент</label>
      <select name="agent" id="agent" class="border p-1">
        <option value="0" class=""> Без агента</option>
        <option value="1" class=""> Здесь список всех регионов</option>
        <option value="2" class=""> Здесь список всех регионов</option>
        <option value="3" class=""> Здесь список всех регионов</option>
      </select>
    </div>

    <div class="m-for-blocks">
      <label for="agent-rasx" class="text-sm text-gray-500 font-bold  "> Агентские расходы % </label>
      <input type="text" name="agent-rasx" id="agent-rasx" class="" value="0">
    </div>
  </div>


  <div class="m-for-blocks">

    <h4 class="grey-text text-darken-2">Введите основные данные для расчета </h4>

    <div class="m-for-blocks">
      <label for="period" class="grey-text text-darken-2">Периодность</label>
      <select name="period" id="period" class="border p-1">
        <option value="0" class="border w-full"> Единовременно</option>
        <option value="1" class="border w-full"> Ежегодно</option>
        <option value="2" class="border w-full"> Раз в пол года</option>
        <option value="3" class="border w-full"> Ежеквартально</option>
        <option value="4" class="border w-full"> Ежемесячно</option>
      </select>
    </div>

    <div class="m-for-blocks">
      <label for="srok-strax" class="grey-text text-darken-2"> Срок страхования </label>
      <input type="text" name="srok-strax" id="srok-strax" class="border p-1 w-full" value="0" [(ngModel)]="srokStrah">
    </div>

    <div class="flex flex-col py-1">
      <label for="osn-pokr" class="grey-text text-darken-2">Основное покрытие </label>
      <select name="osn-pokr" id="osn-pokr" class="">
        <option value="0" class=""> Здесь список всех регионов</option>
        <option value="1" class=""> Здесь список всех регионов</option>
        <option value="2" class=""> Здесь список всех регионов</option>
        <option value="3" class=""> Здесь список всех регионов</option>
      </select>
    </div>

  </div>



  <div  style="display: none;">
    <label>Страховая сумма <span style="color: red;">(временная нетрудоспособность Застрахованного в результате НС)</span> </label>
    <select class="form-control" >
      <option></option>
      <option value="500000">500 000</option>
      <option value="750000">750 000</option>
      <option value="1000000">1 000 000</option>
      <option value="1500000">1 500 000</option>
    </select>
  </div>


</section>







<!-- Модальное окно для добавления выгодоприробретателей смерти  -->
<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Добавить выгодоприобретателя на случай смерти</h4>
    <div class="find-straxovatel flex mt-3 ">
      <button class="border border-transparent p-2 bg-blue-500 rounded-l text-white"> Создать </button>
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="IIN"
      >

      <button
        class="border border-transparent p-2 bg-green-500 rounded-r text-white"
        id="btn_search_zastrah"
        autofocus
        (click)="loadMore2()"
      >
        Найти
      </button>
    </div>
    <div>
      <a *ngFor="let i of vigodosSmert" (click)="addToOrder2(i)"  class="collection-item">{{i.NAME}}</a>
    </div>
    <div *ngIf="vigodopreodetatelSmert">
      <b class="text-sm text-gray-500 font-bold" > Застрахованный: {{vigodopreodetatelSmert.NAME}}</b>
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="prosent"
      >
      <button
        class="modal-action btn waves-effect"
        (click)="VigodaSmert()"

      >Подтвердить</button>
    </div>

  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"

    >Отмена</button>
    <button
      class="modal-action btn waves-effect"
      (click)="submit()"

    >Подтвердить</button>
  </div>
</div>




<!-- Модальное окно для добавления выгодоприробретателей дожития  -->
<div #modal2 class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Добавить выгодоприобретателя на случай Дожития</h4>
    <div class="find-straxovatel flex mt-3 ">
      <button class="border border-transparent p-2 bg-blue-500 rounded-l text-white"> Создать </button>
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="IIN"
      >

      <button
        class="border border-transparent p-2 bg-green-500 rounded-r text-white"
        id="btn_search_zastrah"
        autofocus
        (click)="loadMore4()"
      >
        Найти
      </button>
    </div>
    <div>
      <a *ngFor="let i of vigodosZhizn" (click)="addToOrder4(i)"  class="collection-item">{{i.NAME}}</a>
    </div>
    <div *ngIf="vigodopreodetatelZhizn">
      <b class="text-sm text-gray-500 font-bold" > Застрахованный: {{vigodopreodetatelZhizn.NAME}}</b>
      <input
        type="text"
        class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"
        [(ngModel)]="prosent"
      >
      <button
        class="modal-action btn waves-effect"
        (click)="VigodaSmert()"

      >Подтвердить</button>
    </div>

  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"

    >Отмена</button>
    <button
      class="modal-action btn waves-effect"
      (click)="submit()"

    >Подтвердить</button>
  </div>
</div>




<!-- Модальное окно для добавления региона  -->
<div #modalReg class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Выберите регион  из списка</h4>
    <div class="row">
      <div class="col s12">
        <div class="collection">
          <a *ngFor="let i of regions"
             class="collection-item" (click)="selectToRegion(i)" >{{i.NAME}}

          </a>
        </div>
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"

    >Отмена</button>
    <button
      class="modal-action btn waves-effect"
      (click)="submit()"

    >Подтвердить</button>
  </div>
</div>



<!-- Модальное окно для добавления нагрузок  -->
<div #modalNagruz class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Выберите тип нагрузки</h4>
    <div class="row">
      <div class="col s12">
        <div class="collection">
          <a *ngFor="let i of nagruzki; let idx =index"
             class="collection-item"  > {{i}}

          </a>
          <input
            type="text"
            class="border border-gray-300 w-full outline-none p-2 focus:border-green-400"

          >

        </div>
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"

    >Отмена</button>
    <button
      class="modal-action btn waves-effect"
      (click)="submit()"

    >Подтвердить</button>
  </div>
</div>






